@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: #F9F3F1;
  color:#000;
}

  .bg-custom
  {
    background-color: #F9F3F1 !important;
  }